/* App styles */

.app {
	padding: 1.25rem 0.625rem;
	height: 100vh;
	height: 100dvh;
	background: var(--linear-gradient-400);
}

.app__wrap {
	display: grid;
	grid-template-rows: auto auto 1fr auto;
	grid-template-areas:
		"head"
		"form"
		"list"
		"foot";
	row-gap: 0.625rem;
	margin-inline: auto;
	width: min(100%, 48rem);
	height: 100%;
}

.app__head {
	grid-area: head;
	margin-block-end: 0.625rem;
}

.app__form {
	grid-area: form;
}

.app__list {
	grid-area: list;
	margin: 0;
	padding: 0.625rem;
	overflow: hidden auto;
	box-shadow: var(--shadow-xs);
	border-radius: 0.25rem;
	background-color: var(--color-neutral-100);
	list-style: none;
}

.app__list-item + .app__list-item {
	border-block-start: 1px solid var(--color-blue-400);
}

.app__foot {
	grid-area: foot;
	margin-block-start: 0.625rem;
}

@media (width < 36em) {
	.app {
		padding-block: 0.625rem;
	}

	.app__wrap {
		grid-template-rows: auto 1fr auto auto;
		grid-template-areas:
			"head"
			"list"
			"form"
			"foot";
	}
}
